html {
  font-family: 'Ubuntu', sans-serif;
}

.side-navigation a {
  left: -80px;
  color: #fff;
  width: 100px;
  padding: 15px;
  font-size: 20px;
  transition: 0.3s;
  position: absolute;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
}

.side-navigation a:hover {
  left: 0;
}

.about {
  top: 20px;
  background-color: #04aa6d;
}