*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

.tablink {
  border: 0;
  outline: 0;
  width: 25%;
  color: #fff;
  float: left;
  cursor: pointer;
  font-size: 18px;
  padding: 14px 16px;
  background-color: #555;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: #fff;
  height: 100%;
  display: none;
  padding: 100px 20px;
}