* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.drop-button {
  border: 0;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  background-color: #04aa6d;
}

.dropdown {
  position: relative;
  display: inline-block;
}