body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.mobile-container {
  color: #fff;
  margin: auto;
  height: 500px;
  max-width: 480px;
  border-radius: 10px;
  background-color: #555;
}

.navbar {
  overflow: hidden;
  position: relative;
  background-color: #333;
}

.links {
  display: none;
}