body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav a {
  float: left;
  color: #000;
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #f00;
}

.topnav a.active {
  border-bottom: 3px solid #f00;
}