*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  border: 0;
  outline: 0;
  color: #222;
  width: 100%;
  padding: 18px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  background-color: #eee;
  transition: background-color .4s;
}

.accordion:hover,
.accordion--active {
  background-color: #ccc;
}

.painel {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  background-color: #fff;
}