* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'noto sans', verdana, sans-serif;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  clear: both;
  content: '';
  display: table;
}