body {
  font-family: 'Lato', sans-serif;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 1;
  width: 160px;
  height: 100%;
  position: fixed;
  padding-top: 16px;
  overflow-x: hidden;
  background-color: #111;
}

.sidebar a {
  color: #818181;
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 6px 68px 6px 16px;
}

.sidebar a:hover {
  font-family: #f1f1f1;
}

.main {
  padding: 0 10px;
  margin-left: 160px;
}

@media screen and (max-height: 450px) {
  .sidenar {
    padding-top: 15px;
  }
}