body {
  font-family: 'Lato', sans-serif;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 1;
  width: 160px;
  height: 100%;
  position: fixed;
  padding-top: 16px;
  overflow-x: hidden;
  background-color: #111;
}