* {
  font-family: 'noto sans', sans-serif;
}

.container {
  position: relative;
}

.text-block {
  color: #fff;
  right: 20px;
  bottom: 20px;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000;
}