*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-bar {
  width: 100%;
  background-color: #444;
  list-style-type: none;
}

.icon-bar::before,
.icon-bar::after {
  clear: both;
  content: '';
  display: table;
}

.icon-bar__icon-item {
  width: 20%;
  float: left;
}