* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.drop-button {
  border: 0;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
}

.drop-button:hover,
.drop-button:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}