* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.column {
  width: 25%;
  float: left;
  padding: 10px;
}

.column__image {
  opacity: 0.8;
  cursor: pointer;
}