* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.image {
  width: 100%;
}

.column {
  width: 25%;
  float: left;
  padding: 10px;
}

.column__image {
  opacity: 0.8;
  cursor: pointer;
}

.column__image:hover {
  opacity: 1;
}

.row:after {
  clear: both;
  content: '';
  display: table;
}

.container {
  display: none;
  position: relative;
}

.image-caption {
  left: 15px;
  color: #fff;
  bottom: 15px;
  font-size: 22px;
  position: absolute;
}