* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.drop-button {
  margin: 0;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 14px 16px;
  background-color: inherit;
}

.navbar a:hover {
  background-color: #f00;
}