*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-color: #555;
}

.navbar a {
  float: left;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #000;
}