body {
  font-family: 'Lato', sans-serif;
}

.sidenav {
  top: 20px;
  left: 10px;
  z-index: 1;
  width: 130px;
  padding: 8px 0;
  position: fixed;
  overflow-x: hidden;
  background-color: #eee;
}

.sidenav a {
  display: block;
  color: #2196f3;
  font-size: 25px;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
}

.sidenav a:hover {
  color: #064579;
}