body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar {
  top: -50px;
  width: 100%;
  display: block;
  position: fixed;
  transition: top 0.3s;
  background-color: #333;
}