* {
  box-sizing: border-box;
  font-family: 'noto sans', sans-serif;
}

body {
  font-size: 18px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.content {
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #f1f1f1;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
}