body {
  margin: 0;
  font-size: 28px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.header {
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: #000;
  background-color: #ddd;
}

.navbar a.active {
  color: #fff;
  background-color: #04aa6d;
}