body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav-button {
  margin: 0;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  padding: 14px 16px;
  font-family: inherit;
  background-color: inherit;
}

.navbar a:hover,
.subnav-button:hover {
  background-color: #f00;
}

.subnav-content {
  left: 0;
  z-index: 1;
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f00;
}

.subnav-content a {
  float: left;
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 0 16px;
}