* {
  box-sizing: border-box;
  font-family: 'noto sans', sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

.background-image {
  height: 100%;
  filter: blur(8px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/photographer.jpg');
}