* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar {
  top: 0;
  width: 100%;
  z-index: 90;
  position: fixed;
  overflow: hidden;
  transition: 0.4s;
  padding: 90px 10px;
  background-color: #f1f1f1;
}

.navbar a {
  float: left;
  color: #000;
  padding: 14px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}

.navbar .logo {
  font-size: 36px;
  transition: 0.4s;
  font-weight: bold;
}