* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar {
  top: 0;
  width: 100%;
  z-index: 90;
  position: fixed;
  overflow: hidden;
  transition: 0.4s;
  padding: 90px 10px;
  background-color: #f1f1f1;
}