body {
  font-family:  'Lato', sans-serif;
}

.sidenav {
  top: 0;
  left: 0;
  z-index: 1;
  width: 160px;
  height: 100%;
  position: fixed;
  padding-top: 20px;
  overflow-x: hidden;
  background-color: #111;
}

.sidenav a {
  display: block;
  color: #818181;
  font-size: 25px;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  font-size: 28px;
  padding: 0 10px;
  margin-left: 160px;
}