body {
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s;
}

.side-navigation {
  top: 0;
  left: 0;
  width: 0;
  z-index: 1;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  padding-top: 60px;
  overflow-x: hidden;
  background-color: #111;
}

.side-navigation a {
  color: #818181;
  display: block;
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 8px 8px 32px;
}