*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon__line {
  width: 35px;
  height: 5px;
  background-color: #111;
}

/* utilities */
.margin-top-bottom {
  margin-top: 6px;
  margin-bottom: 6px;
}