body {
  font-family: 'Noto Sans', sans-serif;
}

ul.breadcrumb {
  list-style: none;
  padding: 10px 16px;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  color: #000;
  content: '/\00a0';
  padding: 8px;
}