*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
}

.menu-icon__line {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  background-color: #222;
}

.menu-icon--active .line-one {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-icon--active .line-two {
  opacity: 0;
}

.menu-icon--active .line-three {
  transform: rotate(45deg) translate(-8px, -8px);
}