* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'noto sans', arial, helvetica, sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
}

.slide {
  display: none;
}

.cursor {
  cursor: pointer;
}