* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'noto sans', arial, helvetica, sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
}

.slide {
  display: none;
}

.cursor {
  cursor: pointer;
}

.previous-slide-button,
.next-slide-button {
  top: 40%;
  width: auto;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: -50px;
  user-select: none;
  position: absolute;
  border-radius: 0 3px 3px 0;
}

.next-slide-button {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous-slide-button:hover,
.next-slide-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide-number {
  top: 0;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

.slide-caption-text {
  margin: 0;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  background-color: #222;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 16.66%;
}

.demo-image {
  opacity: 0.6;
  display: block;
  max-width: 100%;
}

.active,
.demo-image:hover {
  opacity: 1;
}