*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab {
  margin: 24px 0 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tablinks {
  border: 0;
  outline: 0;
  float: left;
  cursor: pointer;
  font-size: 18px;
  padding: 14px 16px;
  background-color: inherit;
  transition: background-color .3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: 0;
}