* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

.background-image {
  height: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url('images/img_snow.jpg');
}

.image-2 {
  background-image: url('images/img_girl.jpg');
}

.image-3 {
  background-image: url('images/img_lights.jpg');
}

.image-4 {
  background-image: url('images/img_nature.jpg');
}

.image-5 {
  background-image: url('images/img_forest.jpg');
}

.image-6 {
  background-image: url('images/img_woods.jpg');
}

.foreground-text {
  top: 50%;
  left: 50%;
  z-index: 2;
  color: #fff;
  width: 58%;
  padding: 20px;
  font-size: 80px;
  position: fixed;
  font-weight: bold;
  text-align: center;
  border: 10px solid #f1f1f1;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
}