* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

.background-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url('images/img_snow.jpg');
}

.image-2 {
  background-image: url('images/img_girl.jpg');
}

.image-3 {
  background-image: url('images/img_lights.jpg');
}

.image-4 {
  background-image: url('images/img_nature.jpg');
}

.image-5 {
  background-image: url('images/img_forest.jpg');
}

.image-6 {
  background-image: url('images/img_woods.jpg');
}