* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-color: #555;
}

.navbar a {
  width: 25%;
  color: #fff;
  float: left;
  padding: 14px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #04aa6d;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    width: 100%;
    display: block;
    text-align: left;
  }
}