body {
  font-family: 'noto sans', arial, helvetica, sans-serif;
}

.thumbnail-image {
  width: 100%;
  cursor: pointer;
  max-width: 300px;
  transition: 0.3s;
  border-radius: 5px;
}

.thumbnail-image:hover {
  opacity: 0.7;
}