body {
  font-family: Lato, sans-serif;
}

.sidenav {
  top: 0;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 100%;
  position: fixed;
  padding-top: 20px;
  overflow-x: hidden;
  background-color: #111;
}