* {
  box-sizing: border-box;
  font-family: 'ubuntu', sans-serif;
}

h2 {
  color: #555;
  font-size: 18px;
}

.row:after {
  clear: both;
  content: '';
  display: table;
}

.column {
  float: left;
  padding: 5px;
  width: 33.33%;
}

.image {
  width: 100%;
}