* {
  font-family: 'noto sans', sans-serif;
}

.container {
  /*color: #000;*/
  font-weight: bold;
  text-align: center;
  position: relative;
}

.bottom-left {
  left: 16px;
  bottom: 8px;
  position: absolute;
}

.top-left {
  top: 8px;
  left: 16px;
  position: absolute;
}

.top-right {
  top: 8px;
  right: 16px;
  position: absolute;
}

.bottom-right {
  right: 16px;
  bottom: 8px;
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}