* {
  font-family: 'noto sans', sans-serif;
}

.container {
  /*color: #000;*/
  text-align: center;
  position: relative;
}

.bottom-left {
  left: 16px;
  bottom: 8px;
  position: absolute;
}

.top-left {
  top: 8px;
  left: 16px;
  position: absolute;
}

.top-right {
  top: 8px;
  right: 16px;
  position: absolute;
}