body {
  font-family: Lato, sans-serif;
}

.overlay {
  top: 0;
  left: 0;
  width: 0;
  z-index: 1;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  top: 25%;
  width: 100%;
  margin-top: 30px;
  position: relative;
  text-align: center;
}

.overlay a {
  padding: 8px;
  color: #818181;
  display: block;
  font-size: 36px;
  transition: 0.3s;
  text-decoration: none;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}