*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.icon-bar {
	width: 90px;
	background-color: #444;
	list-style-type: none;
}

.icon-bar__icon-link {
	padding: 16px;
	display: block;

	color: #fff;
	font-size: 36px;
	text-align: center;
	transition: background-color .3s ease;
}

.icon-bar__icon-link:hover {
	background-color: #111;
}

.icon-bar__icon-link--active {
	background-color: hotpink;
}