body {
  font-family: 'Inter';
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  color: #000;
  padding: 12px;
  display: block;
  text-decoration: none;
  background-color: #eee;
}

.vertical-menu a:hover {
  background-color: #ccc;
}