* {
  font-family: 'noto sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s ease;
  background-color: tomato;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 100px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.fa-user:hover {
  color: #eee;
}