* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'noto sans', arial, sans-serif;
}

.header {
  padding: 32px;
  text-align: center;
}

.row {
  display: flex;
  padding: 0 4px;
  flex-wrap: wrap;
}