* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'noto sans', arial, sans-serif;
}

.header {
  padding: 32px;
  text-align: center;
}

.image {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

.row {
  display: flex;
  padding: 0 4px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}