body {
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s;
}

.sidenav {
  top: 0;
  left: 0;
  width: 0;
  z-index: 1;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  padding-top: 60px;
  overflow-x: hidden;
  background-color: #111;
}

.sidenav a {
  color: #818181;
  display: block;
  font-size: 26px;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 8px 8px 32px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .close-btn {
  top: 0;
  right: 26px;
  font-size: 36px;
  margin-left: 50px;
  position: absolute;
}

.main {
  padding: 16px;
  transition: margin-left 0.5;
}

@media screen and (max-height: 450px) {}