* {
  box-sizing: border-box;
}

body {
  font-family: 'noto sans', verdana, sans-serif;
}

.slide {
  display: none;
}

.slide-image {
  vertical-align: middle;
}

.slideshow-container {
  margin: auto;
  max-width: 1000px;
  position: relative;
}